/*
  ------------------------------------------------
  CSS 배경(Background) 스타일링
  ------------------------------------------------
*/

body {
  background-image: url("../../img/cloud-design-patterns.svg");
  background-repeat: no-repeat;
  background-position: 10px 40px;
  background-size: 100px 100px;

}

#css-background {

}

.bg-image {
  background: url("../../img/NewYork-US.jpg") no-repeat center -60px;
  background-size: cover;
  

}

.is-floral {
  background: #000 url("../../img/oriental-floral-pattern.svg") center;
  background-size: 150px;

}

.is-model {
  background: #000 url("../../img/model.jpg") center;
  background-size: 150px;
}

.background-clip {

}
