/*
  ------------------------------------------------
  CSS 상속 (Inheritance)
  ------------------------------------------------

  상속되는 속성 (글자색, 글자 디자인에 관련된 것)
    - color
    - font-size
    - font-family
    - letter-spacing

  상속되지 않는 속성 (공간에 관련된 것)
    - outline
    - margin
    - border
    - padding

*/

article {
  color: #fe4940;
  font-size: 22px;
  font-family: Arial;
  letter-spacing: -0.5px;
  outline: 3px solid #34c9c0;
  padding: 20px;
}
