/*
  ------------------------------------------------
  CSS 선택자 (Selectors)
  ------------------------------------------------

  [요소 선택자 (Element Type Selector)]
    figure { ... }


  [그룹핑 (Grouping)]
    a, abbr { ... }


  [전체 선택자 (Universal Selector)]
    * { ... }
    #about-css * { ... } -> about-css 밑의 모든 값


  [자손 선택자 (Descendent Selector)]
    h1 abbr { ... }
    .note abbr { ... }


  [자식 선택자 (Child Selector)]
    .parent > .child { ... }


  [클래스 선택자 (Class Selector)] -> 대소문자 구분
    .class { ... }


  [멀티 클래스 선택자 (Mutil Class Selector)]
    .class1.class2 { ... }

    .class1 . class2 { ... } -> 이 경우는 멀티 클래스 선택자가 아닌 자손 클래스 선택자 이다!!


  [아이디 선택자 (ID Selector)]
    #id { ... }

    body 요소 내부의 모든 자손 선택
      body * {
        outline: 3px solid #fc414b
      }

    body 요소 내부의 모든 자식(Child) 선택 
      body > * {
        outline: 3px solid #fc414b
      }

    /* css는 대소문자를 구분한다.

  [속성 선택자 (Attribute Selector)]

    [id]              { ... }
    [class]           { ... }
    [title]           { ... }
    [shape][title]    { ... }

    [id="about-css"]  { ... }
    #about-css        { ... }

    [class="note"]    { ... }
    .note             { ... }

    ^는 시작하는 단어를 의미 
    [href^="http://"] { ... }
    [src$=".svg"]     { ... }
    [src*="phone"]    { ... }


  [가상 클래스 (Pseudo Class)]

    :link         { ... }
    :visited      { ... }

    :hover        { ... }
    :active       { ... }

    :focus        { ... }
    :focus:hover  { ... }
    :focus:active { ... }

    :first-child  { ... }
    :last-child   { ... }
    :nth-child(n) { ... }

    :lang(ko)     { ... }


  [가상 요소 (Pseudo Element)]
  
    ::first-letter { ... }
    ::first-line   { ... }
    ::before       { ... }
    ::after        { ... }
    */
    p::first-letter {
      font-weight: bold;
      font-size: 20px;
    }

    h1 {
      font-weight: normal;
    }
    
    /* 그룹핑, ','로 구분해준다. */
    a, abbr {
      color: #2fb56e;
    }
    
    /* 유니버셜 셀렉터, 모든 요소에 적용 */
    /* * {
      border: 1px solid #000000;
    } */
    
    /* 자손 선택자 또는 하위 선택자 */
    h1 abbr {
      background-color: #ff0;
    }

    /* 클래스 선택자 */    
    .note {
      font-size: 20px;
    }
    
    /* 멀티 클래스 */
    .note.box {
      border: 1px solid #f0f;
    }
    
    /* ID선택자 */
    #about-css {
      padding: 30px;
    }




/* 피규어 부분 코드
  figure::before {
    content: 'Figure';
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 0.3em 0.8em;
    background: #222;
    color: #fff;
  }
*/